## Scraping popular songs

#### Trello Board: https://trello.com/b/rI55TUuT/gnod-song-recommendations

### Find data on the internet about currently popular songs. 
#### Billboard maintains a weekly Top 100 of "hot" songs here: https://www.billboard.com/charts/hot-100. Scrape the current top 100 songs and their respective artists, and put the information into a pandas dataframe.

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
# Getting the html code of the web page

r = requests.get('https://www.billboard.com/charts/hot-100')
r.status_code

200

In [3]:
# Parsing the html code

soup = BeautifulSoup(r.content, 'html.parser')
# soup

In [4]:
# Find all the chart result rows

chart_entries = soup.find_all('li', class_="lrv-u-width-100p")
# chart_entries

In [5]:
# Initialize lists to store the song and artist names

songs = []
artists = []

In [6]:
# Extract song titles

for chart in chart_entries:
    song = chart.find('h3')
    if song is not None:
        songs.append(song.get_text(strip=True))

In [7]:
# Extract artists

for i in range(0, len(chart_entries), 2):
    chart = chart_entries[i]
    artist = chart.find('span')
    artists.append(artist.get_text(strip=True))

In [8]:
# Create a pandas dataframe with the song and artist data

data = {'Song': songs, 'Artist': artists}
df_billboard = pd.DataFrame(data)
df_billboard

                Song                         Artist
0         Last Night                  Morgan Wallen
1            Flowers                    Miley Cyrus
2           Fast Car                     Luke Combs
3          Calm Down            Rema & Selena Gomez
4        All My Life     Lil Durk Featuring J. Cole
..               ...                            ...
95           Save Me  Jelly Roll With Lainey Wilson
96        Yandel 150                  Yandel & Feid
97              Beso       Rosalia & Rauw Alejandro
98  I Wrote The Book                  Morgan Wallen
99       Hummingbird     Metro Boomin & James Blake

[100 rows x 2 columns]

#### Wikipedia maintains a large collection of lists of songs: https://en.wikipedia.org/wiki/Lists_of_songs

In [9]:
# Define a function to scrape Wikipedia websites for lists of Billboard Hot 100 number one singles from a specified range of years

def scrape_wiki(start_year, end_year):
    base_url = 'https://en.wikipedia.org/wiki/List_of_Billboard_Hot_100_number_ones_of_{}'
    songs = []  
    artists = []  

    # Iterate over each year in the specified range
    for year in range(start_year, end_year + 1):
        url = base_url.format(year)  
        response = requests.get(url)  
        soup = BeautifulSoup(response.text, 'html.parser')  
        table = soup.find_all('table')[1]  

        # Iterate over each row in the table
        for row in table.find_all('tr'):
            cells = row.find_all('td')  # Find all cells in the row
            if len(cells) >= 4:  # Check if the row has at least 4 cells
                if year <= 2011:  # Condition based on the year to determine cell indexing
                    song = cells[2].get_text(strip=True).strip('"')  
                    artist = cells[3].get_text(strip=True) 
                else:
                    song = cells[1].get_text(strip=True).strip('"')  
                    artist = cells[2].get_text(strip=True) 
                songs.append(song)
                artists.append(artist)

    data = {'Song': songs, 'Artist': artists}  
    df = pd.DataFrame(data) 
    return df

In [10]:
start_year = 1959
end_year = 2022
df_wiki = scrape_wiki(start_year, end_year)
df_wiki

,Song,Artist
0,The Chipmunk Song (Christmas Don't Be Late),The ChipmunkswithDavid Seville
1,Smoke Gets in Your Eyes,The Platters
2,Stagger Lee,Lloyd Price
3,Venus,Frankie Avalon
4,Come Softly to Me,The Fleetwoods
...,...,...
1052,As It Was,Harry Styles
1053,Bad Habit,Steve Lacy
1054,Unholy,Sam SmithandKim Petras
1055,Anti-Hero,Taylor Swift
1056,All I Want for Christmas Is You,Mariah Carey